.home__figure {
    position: relative;
    z-index: 999;
    width: 600px;
}
@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .home__figure{ 
        width: 500px;
    }
}
@media screen and (max-width: 1280px) {
    .home__figure{ 
        width: 450px;
    }
}