.cambio-idioma {
    display: flex;
    position: relative;
    opacity: 1;
    padding-right: 4px;
    transition: all 0.3s;
}
.cambio-idioma__idioma {
    min-width: 23px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    user-select: none;
    transition: all 0.2s;
}
.cambio-idioma__menu {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 105%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}
.cambio-idioma__arrow {
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
    transition: all 0.3s;
    cursor: pointer;
}
.cambio-idioma__line {
    width: 90%;
    height: 2px;
    margin-top: 4px;
    background-color: #282828;
    transform: scale(0);
    transform-origin: left top;
    transition-duration: 0.3s;
}

.cambio-idioma__menu-Active {
    visibility: visible;
    opacity: 1;
}
.cambio-idioma__line-Active {
    transform: scale(1);
}
.chevron-down-rotate {
    transform: rotate(0deg);
}