.about-card__figure{
    width: 350px;
    height: 350px;
    border-radius: 16px;
    background-color: #3B53FE;
}
.about-card__img{ 
    width: 100%;
    object-fit: contain;
}
@media screen and (max-width: 1300px){
    .about-card__figure {
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 1100px){
    .about-card__figure {
        width: 200px;
        height: 300px;
    }
}
@media screen and (max-width: 1000px){
    .about-card__figure {
        width: 400px;
        height: 150px;
    }
}
@media screen and (max-width: 500px){
    .about-card__figure {
        width: 300px;
        height: 150px;
    }
}