.boton-secundario {
    position: relative;
    color: #090909;
    padding: 0.7em 1em;
    font-size: 1.6rem;
    border-radius: 0.5em;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    transition: all 0.4s;
    box-shadow: 6px 6px 10px #c2c2c2,
               -6px -6px 10px #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .boton-secundario:active {
    box-shadow: none
  }
  .boton-secundario--active {
    box-shadow: none;
    border: 2px solid #3B53FE;
    background: #fafafa;
    color: #3B53FE;
    transition: background 0.5s, border 0.5s, color 0.3s;
  }