.work-section {
    position: relative;
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    text-align: center;
    color: #fafafa;
    background: linear-gradient(to bottom, rgba(35,36,60,1) 0%, rgba(45,46,70,1) 100%);
}
.work-section__cards {
    max-width: 900px;
    padding: 32px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 24px;
}
.work-section__cards--row1,
.work-section__cards--row2 {
    display: grid;
}
.work-section__cards--row1{
    grid-template-columns: 3fr 4fr;
    justify-items: end;
}
.work-section__cards--row2 {
    grid-template-columns: 4fr 3fr;
    justify-items: stretch;
}
.work-section__card-container {
    position: relative;
    max-width: 450px;
    max-height: 300px;
    border-radius: 8px;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
}
.work-section__card-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s;
}
.work-card__name {
    bottom: 12%;
    left: 7%;
    transition: all 0.5s;
}
.work-section__card-container:hover .work-card__name {
    transform: scale(1.1);
}
.work-section__card-container:hover img {
    filter: brightness(0.4);
}
.work-section__wave {
    width: 100%;
    position: absolute;
    bottom: -270px;
    z-index: 99;
}

@media screen and (max-width: 380px) {
    .work-section__wave {
        bottom: -75px;
    }
}
@media screen and (min-width: 381px) and (max-width: 474px) {
    .work-section__wave {
        bottom: -85px;
    }
}
@media screen and (min-width: 475px) and (max-width: 600px) {
    .work-section__wave {
        bottom: -100px;
    }
}
@media screen and (min-width: 600px) and (max-width: 740px) {
    .work-section__wave {
        bottom: -130px;
    }
}
@media screen and (min-width: 741px) and (max-width: 900px) {
    .work-section__wave {
        bottom: -162px;
    }
}
@media screen and (min-width: 901px) and (max-width: 1024px) {
    .work-section__wave {
        bottom: -180px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1170px) {
    .work-section__wave {
        bottom: -200px;
    }
}
@media screen and (min-width: 1070px) and (max-width: 1200px) {
    .work-section__wave {
        bottom: -220px;
    }
}
@media screen and (min-width: 1500px) {
    .work-section__wave {
        bottom: -300px;
    }
}
@media screen and (max-width: 500px) {
    .work-section__cards {
        padding: 0px;
    }
    .work-section {
        padding-bottom: 32px;
    }
}
@media screen and (max-width: 600px) {
    .work-section__cards {
        gap: 20px;
    }
    .work-section__cards--row1,
    .work-section__cards--row2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width: 1140px) {
    .work-section__card-container {
        max-width: 400px;
        max-height: 200px;
    }
    .work-section__cards--row1,
    .work-section__cards--row2 {
        column-gap: 24px;
    }
}
@media screen and (max-width: 870px) {
    .work-section__cards--row1 {
        grid-template-columns: 1fr 1fr;
    }
    .work-section__cards--row2 {
        grid-template-columns: 1fr 1fr;
    }
}