
@charset "UTF-8";
/*
  Con este reset vamos a resolver:
     Unificar el uso de Custom Properties
     Problemas de box-model más generales
     Problemas con imagenes, vídeos e iconos svg
     Problemas con tipografías y etiquetas input en formularios
     Unificar la tipografía de todas las etiquetas de una web
*/


/* Custom properties */
:root {

  /* paleta colores */
  --MainBlue: #3B53FE;
  --DarkBlue: #23243c;
  --SoftBlue: #3aa5f2;
  --LightBlue: #00bdff;
  --black: #282828;
  --grey: #424242;
  --soft-grey: #9e9e9e;
  --soft-grey-2: #ebebeb;
  --background-white: #fafafa;
  --LinearGradient-background: linear-gradient(to bottom, rgba(59,83,254,1) 0%, rgba(58,165,242,1) 53%, rgba(56,204,232,1) 100%);

  /* Tipografía */
  --MainFont: 'Montserrat', sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --black: ;
    --white: ;
  }
}

/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  scroll-snap-align: smooth;

  /* Trabajar con medidas rem: */
  font-size: 62.5%;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-family: var(--MainFont);
  font-size: 1.6rem;
  letter-spacing: -1px;
  /* opcional */
  line-height: 1.6rem;
  /* opcional */
  /* -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; */
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}


/* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1.6rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: black;
  color: var(--PrincipalBlue);
}
::selection {
  background-color: black;
  color: var(--PrincipalBlue);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  /* display: block; */
  /* opcional */
  /* -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; */
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

