.about-section{
    position: relative;
    width: 100%;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(240,240,240,1) 52%, #e6e6e6
    100%);
}

@media screen and (max-width: 1000px) {
    .about-section {
        padding-bottom: 100px;
    }
}