.home-section {
    padding: 80px 80px 80px 80px;
    position: relative;
    width: 100%;
    min-height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.companies-trust {
    position: absolute;
    top: 95%;
    left: 50%;
}
@media screen and (max-width:1024px){
    .home-section {
        height: 90vh!important;
    }
}
@media screen and (max-width:800px){
    .companies-trust {
        top: 90%;
        left: 50%;
    }
}
@media screen and (max-width:500px){
    .home-section {
        padding: 0 20px;
        padding-left: 8px;
    }
}
  @media screen and (min-width: 501px) and (max-width:800px){
    .home-section {
        padding: 0 60px;
    }
}
  @media screen and (min-width: 801px) and (max-width:1024px){
    .home-section {
        padding: 0 80px;
    }
    .companies-trust {
        top: 100%;
    }
}